<html>
    <title>Data</title>
    <body>
        <ul>
            <li><a href="stories">Stories</a></li>
            <li><a href="listCategory">listCategory</a></li>
            <li><a href="listSubcategory">listSubcategory</a></li>
            <li><a href="listuser">listuser</a></li>
            <li><a href="logout">logout</a></li>
        </ul>
        
<table>
    <tr>
        <th>ID</th>
        <th>Subcatid</th>
        <th>Title</th>
        <th>Content</th>
        <th>Createdate</th>
        <th>Status</th>
        <th></th>
    </tr>
    {% for a in article%}
    <tr>
        <td>{{a.id}}</td>
        <td>{{a.subcatid}}</td>
        <td>{{a.title}}</td>
        <td>{{a.content}}</td>
        <td>{{a.createdate}}</td>
        <td>{{a.status}}</td>
        <td><a href="/deleteArticle/{{a.id}}">Delete</a>&nbsp;&nbsp;<a href="/editArticle/{{a.id}}">Edit</a></td>
    </tr>
    {% endfor %}
</table>


    </body>
</html>